<o-form-layout-manager attr="S3BucketEvent" mode="tab" title="S3BUCKETEVENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="S3BucketEventTable" 
            service="S3BucketEvent" 
            entity="S3BucketEvent" 
            title="S3BUCKETEVENT"
            keys="id"
            columns="description;s3_bucket_id;event_time;id" 
            header-actions="R;D"
            visible-columns="description;s3_bucket_id;event_time;id"  
            sort-columns="description" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #description attr="description" title=" description*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column attr="s3_bucket_id" title="s3_bucket_id">
    <o-table-cell-renderer-service attr="s3_bucket_id" 
        service="S3Bucket" entity="S3BucketType" columns="id;name"
        parent-keys="id:s3_bucket_id"
        value-column="name" keys="s3_bucket_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #event_time attr="event_time" title="event_time" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>